@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GenshinFont;
  src: url(../public/zh-cn.ttf);
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  user-select: none;

}

body {
 margin: 0 auto;
 overflow-x: hidden;
}


